@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  color: #1A202C;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.link{
  color: #0603ac;
  text-decoration: none;
}

.link:hover{
  text-decoration: underline;
}



.login-wrapper{
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  width: auto;
  margin: auto;
}

.login-wrapper .box-col{
  width:100%;
  height: 100%;
  position: relative;
}

.login-wrapper .box-col img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-wrapper .box-form{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; /* Added */
  position: relative;
}

.login-wrapper .inner{
  max-width: 100%;
  margin: 20px;
}

.form-head .title{
  color: #0F0F0F;
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 15px;
}

.form-head .reg-sub-title{
  padding-top: 10px;
  color: #0F0F0F;
  text-align: left;
  font-size: 20px;
  font-weight: 100;
  padding-bottom: 15px;
}

.form-head .stu-reg-title{
  color: #0F0F0F;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 15px;
}

.form-head {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 20px;
}

.sub_action{
  display: flex;
  align-items: center;
}

.sub_action .back_btn{
  width: 39px;
  height: 39px;
  margin-bottom: 12px;
  margin-right: 10px;
  border-radius: 5px;
  border:0px;
  background: #7E59E6;
}

.logo {
  margin-bottom: -10px;
  width: 315px;
  height: auto;
}

.form-head .tagline{
  max-width: 360px;
  width: 100%;
  color: rgba(14,14,14,1);
  position: relative;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 25px;
  padding-bottom: 40px;  
}

.form-group{
  margin-bottom: 15px;
}

.forgot-pwd .link{
  color: #0047FF;
  text-align: center;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
}

.form-group .form-control{
  display: flex;
  width: 100%;
  max-width: 462px;
  padding: 14px 29px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #D1D1D1;
  background: #FFF;
  font-size: 15px;
  font-family: Poppins;
}

.form-group .form-control:focus{
  border-bottom: 2px solid #3d065d;
}

.name{
  padding-left: 10px;
}

.check-action .name a {
  color: #7E59E6;
}

.form-button {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.check-action {
  display: flex;
  align-items: center;
}


.check-action .check {
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: 1px solid #7E59E6;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 2px;
  box-sizing: border-box;
  position: relative;
}

.check-action .check:checked {
  background-color: #7E59E6;
}

.check-action .check:checked::after {
  content: "\f00c"; /* Font Awesome tick icon */
  position: absolute;
  top: 4px; /* Adjust the position of the tick icon */
  left: 4px; /* Adjust the position of the tick icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 15px; /* Adjust the size of the tick icon */
  color: #FFF; /* Adjust the color of the tick icon */
}


.actions{
  margin-top: 20px;
}

.actions .btn{
  margin-bottom: 10px;
  font-size: 15px;
  font-family: Poppins;
  font-weight: 600;
  text-align: center;
}

.actions .btn-submit{
  display: flex;
  width: 100%;
  max-width: 462px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #7E59E6;
  background: #7E59E6;
  color: #FFF;
}

.actions .btn-submit:hover{
  background-color: #571aff;
  cursor: pointer;
  border: #BEBEBE 1px solid;
  transition: .5s all ease;
}

.actions .btn-google{
  display: flex;
  max-width: 462px;
  width: 100%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #6159E6;
  background: #F2F1FF;
  display: flex;
  color: #0F0F0F;
}

.actions .btn-google:hover{
  box-shadow: #6059e672 0px 0px 20px;
  transition: .5s all ease;
}

.form-bottom{
  display: flex;
  justify-content: space-between;
}

.divider{
  padding-top: 20px;
  max-width: 462px;
  width: 100%;
  padding-bottom: 30px;
}

.divider-line{
  padding-top: 20px;
  max-width: 462px;
  width: 100%;
  padding-bottom: 30px;
}

.bottom-register{
  bottom: 20px;
  position: absolute;
  right: 0px;
  left: 0px;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-wrapper .box-col {
    width: 100%;
  }

  .login-wrapper .box-form {
    order: -1;
    padding: 20px;
  }
}
